html,body{
    box-sizing: inherit;
    height: 100%;
    font-family:  "Assistant", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;;
    font-optical-sizing: auto;
    padding: 0;
    overflow-x: hidden;
    margin: 0;
}
.left img{
    height: 36px;
    width: 53px;
}
.container{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 100px;
    background: white;
}
nav ul li,footer li{
    list-style: none;
}
nav ul li a{   
    padding: 0 12px;
    font-weight: 700;
    font-size: 14px;
    color: rgba(50, 47, 46, 0.866);
}
.studio{
    position: relative;
    bottom: 0px;
}
.right div a{
    padding: 0 14px;
    color: black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.right input{
    width: 350px;    
    padding: 8px 10px 10px;   
}
.search,.right input{
    align-self: center;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    color: #696e79;
    background: #f5f5f6;
}
.search i{
    padding: 0 12px;
}
.home-image{
    margin-top: 120px;
    height: auto;
}
.items-container{
    width: 80%;
    margin: 20px 10%;
}
.item-container{
    width: 205px;
}
.rating{
    position: relative;
    bottom: 30px;
    left: 5px;
    background-color: hsla(0, 0%, 100%, .4);
    z-index: 1;
    font-size: 12px;
    font-weight: 700;
    width: 72px;
    padding: 0 2px;
}
.company{
    display: block;
    font-size: 1.17rem;
    position: relative;
    top: -12px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.item-name{
    position: relative;
    top: -10px;
}
.price{
    position: relative;
    top: -6px;
}
.discount{
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}
.original-price{
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}
.curr-price{
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.add-to-bg{
    width: 100%;
    outline: none;
    border: 1px solid;
    background-color: rgb(227, 64, 96);
    color: white;
    border-radius: 6px;
    padding: 6px 0;
    font-weight: 580;
    font-size: 13px;
}
.add-to-bg:hover{
    background-color: crimson;
}